<%- include("./partials/header") %>


<div class="ui main text container segment" style="width:40%">

	<div class="ui huge header text-center">
		<h1>Login</h1>	
	</div>
    
    
        <form class="ui form" action="/login" method="post">
            <div class="field">
				<label>USERNAME</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="field">
				<label>PASSWORD</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="field">
                <button class="ui basic button black  float-right">Login</button>
				<a class="ui basic button black" href="/pictures">Go Back</a>
            </div>
        </form>
        
</div>

<%- include("./partials/footer") %>

