.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


.form-delete{
	display: inline;
}
/* Google Maps */
#map {
	position:absolute;
    height: 400px;
    width: 100%;
}