.segment img {
    width: 100%;
}

.card {
    padding: 0;
}

.card .card-body {
    padding: 9px;
}


.form-delete{
	display: inline;
}
/* Google Maps */
#map {
	position:absolute;
    height: 400px;
    width: 100%;
}

.navbar-collapse.in {
    display: block !important;
}



