<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>view the location</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map{ position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
	<h1 id="location" style="display:none">
		<%=picture.location%>
	</h1>
	<div id="onmap" style="top:0;right:0"></div>
	<h1 id="key" style="display:none"><%= geocoderKey %></h1>
	<!-- <h1 id="location" style="display:none"></h1> -->
<div id="map"></div>
<script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script>
	// console.log(geocoderKey);
	var info = document.getElementById("location");
	var key = document.getElementById("key");
	var k = key.innerHTML;
	var r = info.innerHTML;

	mapboxgl.accessToken =k;
	// console.log(geocoder_api_key);
	
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
	    mapboxClient.geocoding
        .forwardGeocode({
            query: r,
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function(response) {
		
            if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
            ) {
                var feature = response.body.features[0];			
            var long = response.body.features[0].center[0];
            var lat = response.body.features[0].center[1];
	
				
				var k = response.body.query;
		
				var ourQuery="";
				k.forEach(function(addThis){
					ourQuery = ourQuery + "+" + addThis;
				})
		
				
		var m = "<h3><a href=https://www.google.com/search?q=" + ourQuery + " target='_blank'>View more information</a></h3>";
				
			
				
                var map = new mapboxgl.Map({
                     container: 'map',           
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: feature.center,
                    zoom: 10
                });
				
                var icon = new mapboxgl.Marker().setLngLat(feature.center).addTo(map);	
				
			
				map.on("click",function(e){
				    var popup = new mapboxgl.Popup({ closeOnClick: false })
					.setLngLat([long,lat])
					.setHTML(m)
					.addTo(map);
			})
				
				map.on('mouseenter',"icon",function () {
					map.getCanvas().style.cursor = 'pointer';
				});
 
// Change it back to a pointer when it leaves.
				map.on('mouseleave',"icon",function () {
					map.getCanvas().style.cursor = '';
				});
			} });
	
</script>
	
</body>
</html>